body {
    /*background-color: #588157;*/
    font-family:League_Gothic;
    background-size: cover;
}


#phoneNumber1 {
    color: #344e41;

}

/*

.servicesCard {
    background-color: rgb(218, 215, 205);

}

.servicesCard li {
    background-color: rgb(218, 215, 205);
}
*/
.headerLogo {
    text-align: center;

}

#logo1 {
    width: 100%;
    height: 100%;
}

#serviceArea{
     text-align: center;
}

#header{
    background-image: url("/imgs/woodBG.jpg");
}
#bgTwo{
    background-color: #dad7cd; 
   
    background-size: cover;
    padding: 20px 0;
}

#bgThree{
    background-color: #3a5a40;
    background-size: cover;
    padding: 20px 0;
}
#bgFour{
    background-color: #a3b18a;
    background-size: cover;
    padding: 20px 0;
}
#serviceArea{
    font-size: 1.2em;
 
}
/*
dad7cd
a3b18a
588157
3a5a40
344e41
*/
