body {
    /*background-color: #588157;*/

    background-size: cover;
}


#phoneNumber1 {
    color: #588157;

}

/*

.servicesCard {
    background-color: rgb(218, 215, 205);

}

.servicesCard li {
    background-color: rgb(218, 215, 205);
}
*/
.headerLogo {
    text-align: center;

}

#logo1 {
    width: 100%;
    height: 100%;
}


/*
dad7cd
a3b18a
588157
3a5a40
344e41
*/